{% extends 'base.html' %}
{% block content %}
    <h3>Join Maps</h3>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#novoMakerModal">
          Novo maker
        </button>
    <div id="map"></div>

    <!-- Modal novo maker -->
    <div class="modal fade" id="novoMakerModal" tabindex="-1" role="dialog" aria-labelledby="novoMakerModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Criar maker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/locations/" id="form_novo_maker">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputNome">Nome</label>
                        <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label for="inputLatitude">Latitude</label>
                        <input type="text" class="form-control" id="Latitude" aria-describedby="latitudeHelp" placeholder="Digite sua latitude">
                    </div>

                    <div class="form-group">
                        <label for="inputLongitude">Longitude</label>
                        <input type="text" class="form-control" id="longitude" aria-describedby="longitudeHelp" placeholder="Digite sua longitude">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function getUserLocations(  ){
         var retorno;
             $.ajax({
                url:    "/locations/",
                type:   "get",
                dataType:"json",
                async: false,
                success: function( data ){
                    retorno = data;
                }
            });
         return retorno;
    }

    function initMap() {
        var lista = []
        var item = getUserLocations();

        for (i = 0; i < item.length; i++) {
          var dict = { lat: parseInt(item[i].latitude), lng: parseInt(item[i].longitude) };
          lista.push(dict)
        }

        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: lista[0],
        });

        for(i = 0; i < lista.length; i++ ){
            const marker = new google.maps.Marker({
              position: lista[i],
              map: map,
            });
         };
    }
</script>
{% endblock %}